@font-face {
  font-family: "Roboto Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("/assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("/assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Bernard MT";
  src: url("/assets/fonts/BERNHC.ttf");
}

@font-face {
  font-family: "Saol";
  src: url("/assets/fonts/SaolDisplay-Regular.ttf");
}

@font-face {
  font-family: "Merienda";
  src: url("/assets/fonts/Merienda-Regular.ttf");
}

$roboto: "Roboto Regular";
$robotoBold: "Roboto Bold";
$robotoCondensed: "Roboto Condensed Regular";
$robotoCondensedBold: "Roboto Condensed Bold";
$bernard: "Bernard MT";
$saol: "Saol";
$merienda: "Merienda";
