body {
  font-family: $roboto !important;
  background-color: $lightMain !important;
  color: $main;
}

h1 {
  font-family: $bernard;
}

a:hover {
  text-decoration: none !important;
}

button {
  transition: transform 0.15s ease-in-out;
  &:active {
    transform: scale(0.9);
  }
}
