.legend {
  margin-bottom: 32px;

  .title {
    text-transform: uppercase;
    color: $tomato;
    font-size: 14px;
    font-family: $robotoCondensed;
    letter-spacing: 6px;
    margin-bottom: 8px;
    display: block;
  }

  .bullets {
    display: flex;
    span {
      width: 16px;
      height: 16px;
      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }
  }
}
