.contact {
  .accounts {
    li {
      display: inline-block;
      a {
        color: $main;
      }

      &:not(:last-of-type) {
        margin-right: 8px;
      }

      &[title="Linked In"] {
        margin-right: 24px;
      }
    }
  }
}
