.quote {
  background-color: $main;
  color: white;

  background-image: url("/assets/images/agenda/books.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 36%;
  max-width: 400px;

  p {
    position: relative;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: -32px;
      color: red;
      background-image: url("/assets/images/agenda/quote.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 18px;
      width: 18px;
    }
  }

  cite {
    text-align: right;
    display: block;
    font-size: 14px;
  }
}
