@import "~font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: "Roboto Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("/assets/fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("/assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "Bernard MT";
  src: url("/assets/fonts/BERNHC.ttf");
}
body {
  font-family: "Roboto Regular";
  background-color: #f5f5f7 !important;
  color: #0a0c1b;
}

h1 {
  font-family: "Bernard MT";
}

a:hover {
  text-decoration: none !important;
}

button {
  transition: transform 0.15s ease-in-out;
}
button:active {
  transform: scale(0.9);
}

header .content {
  position: relative;
  z-index: 2;
  padding: 60px 0;
}

.page-wrapper main.content {
  position: relative;
  z-index: 2;
}
.page-wrapper.flex main.content {
  padding: 60px 0;
}

.header-image {
  max-width: 40vw;
  min-width: 250px;
}
.header-image img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(0.6);
}

@media (min-width: 767px) {
  .page-wrapper.flex,
.header-wrapper {
    display: flex;
  }
  .page-wrapper.flex .content,
.header-wrapper .content {
    margin-left: 32px;
  }

  .header-image .page-wrapper {
    margin: 0;
  }
}
.page-heading {
  font-size: 44px;
  margin: 0;
  transform: translateY(50%);
  position: relative;
  z-index: 1;
  letter-spacing: 8px;
  color: #0a0c1b;
  text-transform: capitalize;
}

@media (min-width: 767px) {
  .page-heading {
    font-size: 60px;
  }
}
.page-section {
  margin: 100px 0;
}

.my-container {
  padding: 0 20px;
}

@media (min-width: 900px) {
  .my-container {
    padding: 0 60px;
  }
}
span.entry {
  background-color: #9f1725;
}
span.med {
  background-color: #fcf4b5;
}
span.advanced {
  background-color: #c4ffbd;
}

.contact .accounts li {
  display: inline-block;
}
.contact .accounts li a {
  color: #0a0c1b;
}
.contact .accounts li:not(:last-of-type) {
  margin-right: 8px;
}
.contact .accounts li[title="Linked In"] {
  margin-right: 24px;
}

.legend {
  margin-bottom: 32px;
}
.legend .title {
  text-transform: uppercase;
  color: #fe9f9d;
  font-size: 14px;
  font-family: "Roboto Condensed Regular";
  letter-spacing: 6px;
  margin-bottom: 8px;
  display: block;
}
.legend .bullets {
  display: flex;
}
.legend .bullets span {
  width: 16px;
  height: 16px;
}
.legend .bullets span:not(:last-of-type) {
  margin-right: 16px;
}

.main-nav {
  padding: 16px 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.main-nav * {
  color: #f5f5f7;
}
.main-nav .logo {
  background-color: #0a0c1b;
  border-radius: 50%;
  font-family: "Bernard MT";
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav .logo:hover {
  color: #f5f5f7;
}
.main-nav .toggler {
  border: none;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background-color: #0a0c1b;
  position: relative;
  z-index: 11;
}
.main-nav .menu {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0a0c1b;
  padding: 32px 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.main-nav .menu .nav-links {
  display: flex;
  flex-wrap: wrap;
}
.main-nav .menu .nav-links .nav-link .title {
  color: #f5f5f7;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Condensed Regular";
}
.main-nav .menu .nav-links .nav-link a {
  display: block;
  width: 140px;
  height: 100px;
  padding: 16px;
  text-align: center;
  border-radius: 16px;
}
.main-nav .menu .nav-links .nav-link a.active {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.main-nav .menu .nav-links .nav-link a img {
  height: 100%;
}
.main-nav .menu .nav-links .nav-link:not(:last-of-type) {
  margin-bottom: 32px;
}

.quote {
  background-color: #0a0c1b;
  color: white;
  background-image: url("/assets/images/agenda/books.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 36%;
  max-width: 400px;
}
.quote p {
  position: relative;
  font-size: 18px;
}
.quote p::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -32px;
  color: red;
  background-image: url("/assets/images/agenda/quote.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
}
.quote cite {
  text-align: right;
  display: block;
  font-size: 14px;
}

.agenda header .content {
  display: flex;
  align-items: flex-end;
}
.agenda header .content .quote {
  padding: 48px 32px 48px 64px;
  margin-bottom: 0;
}
.agenda header .content .lorem-bg {
  background-image: url("/assets/images/agenda/lorem-ipsum.svg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.agenda .tech-cards h2 {
  margin-bottom: 60px;
  font-family: "Bernard MT";
}
.agenda .tech-cards .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 49px 32px;
}
.agenda .tech-cards .cards-wrapper .tech-card {
  padding: 60px 32px;
  max-width: 280px;
  position: relative;
}
.agenda .tech-cards .cards-wrapper .tech-card .priority {
  height: 5px;
  width: 60px;
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
}
.agenda .tech-cards .cards-wrapper .tech-card .priority.high {
  background-color: #9f1725;
}
.agenda .tech-cards .cards-wrapper .tech-card .priority.medium {
  background-color: #f5a900;
}
.agenda .tech-cards .cards-wrapper .tech-card .priority.low {
  background-color: #eeff00;
}
.agenda .tech-cards .cards-wrapper .tech-card .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.agenda .tech-cards .cards-wrapper .tech-card .head .name {
  font-size: 16px;
  font-family: "Roboto Condensed Regular";
  font-weight: bold;
  margin-bottom: 0;
}
.agenda .tech-cards .cards-wrapper .tech-card .head a {
  color: inherit;
  font-size: 14px;
}
.agenda .tech-cards .cards-wrapper .tech-card .head a img {
  width: 14px;
}
.agenda .tech-cards .cards-wrapper .tech-card .about {
  font-size: 14px;
  margin-bottom: 0;
}
.agenda .tech-cards .cards-wrapper .tech-card:nth-of-type(odd) {
  background-color: #f8f8f8;
  color: #0a0c1b;
}
.agenda .tech-cards .cards-wrapper .tech-card:nth-of-type(even) {
  background-color: #0a0c1b;
  color: #f8f8f8;
}

@media (min-width: 767px) {
  .agenda header .content .quote {
    margin-left: -30%;
  }
}
.contact .header-image img {
  max-height: 350px;
}
.contact main .content p:first-of-type {
  font-family: "Roboto Condensed Regular";
  font-weight: 600;
  margin-bottom: 32px;
}
.contact main .content .info-list {
  line-height: 2.2;
  font-size: 14px;
}
.contact main .content .info-list .icon {
  display: inline-block;
  width: 24px;
  margin-right: 8px;
  text-align: center;
}

.home .welcome {
  position: absolute;
  height: 100%;
}

.home {
  min-height: calc(100vh - 64px);
  overflow-x: hidden;
  position: relative;
}
.home .welcome:first-of-type {
  left: 0;
  transform: translateX(calc(-100% + 80px));
}
.home .welcome:last-of-type {
  right: 0;
  transform: translateX(calc(100% - 80px));
}
.home .heading {
  padding: calc(32px + 64px) 0 32px;
}
.home .heading .main-heading {
  font-size: 52px;
  color: #0a0c1b;
}
.home .heading .main-heading .underlined {
  position: relative;
}
.home .heading .main-heading .underlined::after {
  content: "";
  height: 12px;
  width: 100%;
  position: absolute;
  left: 6px;
  bottom: 12px;
  background-color: rgba(10, 216, 239, 0.52);
}
.home .heading .main-heading .design {
  position: relative;
}
.home .heading .main-heading .design::after {
  content: "";
  height: 28px;
  width: 28px;
  position: absolute;
  right: -7px;
  top: -7px;
  background-image: url("/assets/images/home/brush.svg");
  background-repeat: no-repeat;
}
.home .right-column {
  background-color: #0a0c1b;
  padding: calc(32px + 64px) 44px 32px;
  min-height: 90vh;
  border-radius: 0 0 25px 25px;
  max-width: 380px;
  margin-right: 8px;
}
.home .right-column .avatar {
  width: 120px;
  position: relative;
  margin: auto;
}
.home .right-column .avatar img {
  border-radius: 50%;
  object-fit: cover;
  height: 120px;
  width: 120px;
  object-position: left;
  mix-blend-mode: luminosity;
}
.home .right-column .avatar .status {
  height: 14px;
  width: 14px;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 7px;
  z-index: 1;
}
.home .right-column .avatar .status.available {
  background-color: #c4ffbd;
}
.home .right-column .avatar .status.not-available {
  background-color: #c1aabe;
}
.home .right-column .quote {
  background-image: none;
  margin: 32px auto;
  max-width: 230px;
}
.home .right-column .quote p {
  font-size: 16px;
}
.home .right-column .quote p::before {
  top: -12px;
  left: -18px;
  background-size: 80%;
}

.technologies .content .tech-category .heading {
  margin-bottom: 24px;
  font-size: 24px;
  font-family: "Roboto Condensed Regular";
  text-transform: capitalize;
}
.technologies .content .tech-category .techs-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
  grid-gap: 12px 8px;
  justify-items: start;
}
.technologies .content .tech-category .techs-wrapper .technology .icon-wrapper {
  background-color: #0a0c1b;
  color: #f5f5f7;
  width: 48px;
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.technologies .content .tech-category .techs-wrapper .technology .icon-wrapper .level {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.07);
}
.technologies .content .tech-category .techs-wrapper .technology .title {
  text-align: center;
  color: #707070;
  font-size: 12px;
  margin: 8px 0 0;
}
.technologies .content .tech-category:not(:last-of-type) {
  margin-bottom: 44px;
}
.technologies .content .plugins {
  background-color: #0a0c1b;
  border-radius: 0 5px 5px;
  padding: 32px;
  position: relative;
}
.technologies .content .plugins * {
  color: #f5f5f7;
}
.technologies .content .plugins .external {
  position: absolute;
  left: 0;
  top: 0;
  color: #f5f5f7;
  background-color: #0a0c1b;
  border-radius: 5px 5px 0 0;
  transform: translateY(-100%);
  padding: 8px;
  font-size: 14px;
}
.technologies .content .plugins .heading {
  font-size: 24px;
  font-family: "Roboto Condensed Regular";
  margin-bottom: 16px;
}
.technologies .content .plugins ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
}
.technologies .content .plugins ul li {
  transition: opacity 0.2s ease-in;
}
.technologies .content .plugins ul li:not(:last-of-type) {
  margin-right: 16px;
}
.technologies .content .plugins ul li:hover {
  opacity: 0.8;
}
.technologies .content .plugins ul li i {
  margin-right: 4px;
  font-size: 14px;
}

/*# sourceMappingURL=app.css.map */
