$main: #0a0c1b;
$lightMain: #f5f5f7;
$fadeWhite: #f8f8f8;
$attract: rgba(10, 216, 239, 0.52);
$fadeAttract: #bdddff;
$gray: #707070;
$flatGreen: #c4ffbd;
$flatYellow: #fcf4b5;
$yellow: #eeff00;
$red: #9f1725;
$orange: #f5a900;
$tomato: rgb(254, 159, 157);
$coffee: #231b28;
$beige: #e3c19d;
