header {
  .content {
    position: relative;
    z-index: 2;
    padding: $innerY;
  }
}

.page-wrapper {
  main.content {
    position: relative;
    z-index: 2;
  }

  &.flex {
    main.content {
      padding: $innerY;
    }
  }
}

.header-image {
  max-width: 40vw;
  min-width: 250px;

  img {
    width: 100%;
    //min-height: 80vh;
    object-fit: cover;
    filter: grayscale(0.6);
  }
}

@media (min-width: 767px) {
  .page-wrapper.flex,
  .header-wrapper {
    display: flex;
    .content {
      margin-left: 32px;
    }
  }

  .header-image {
    .page-wrapper {
      margin: 0;
    }
  }
}
