main.content,
header .content {
  padding: $innerY;
  position: relative;
  z-index: 2;
}

@media (min-width: 767px) {
  .page-wrapper.flex,
  .header-wrapper {
    display: flex;
    .content {
      margin-left: 32px;
    }
  }
}
