.agenda {
  header {
    .content {
      display: flex;
      align-items: flex-end;

      .quote {
        padding: 48px 32px 48px 64px;
        margin-bottom: 0;
      }

      .lorem-bg {
        background-image: url("/assets/images/agenda/lorem-ipsum.svg");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
  .tech-cards {
    h2 {
      margin-bottom: 60px;
      font-family: $bernard;
    }
    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 49px 32px;

      .tech-card {
        padding: 60px 32px;
        max-width: 280px;
        position: relative;

        .priority {
          height: 5px;
          width: 60px;
          display: block;
          position: absolute;
          top: -12px;
          left: 0;
          &.high {
            background-color: $red;
          }
          &.medium {
            background-color: $orange;
          }
          &.low {
            background-color: $yellow;
          }
        }
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          .name {
            font-size: 16px;
            font-family: $robotoCondensed;
            font-weight: bold;
            margin-bottom: 0;
          }
          a {
            color: inherit;
            font-size: 14px;
            img {
              width: 14px;
            }
          }
        }

        .about {
          font-size: 14px;
          margin-bottom: 0;
        }

        &:nth-of-type(odd) {
          background-color: $fadeWhite;
          color: $main;
        }
        &:nth-of-type(even) {
          background-color: $main;
          color: $fadeWhite;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .agenda {
    header {
      .content {
        .quote {
          margin-left: -30%;
        }
      }
    }
  }
}
