.agenda {
  header {
    .content {
      display: flex;
      align-items: flex-end;
    }
  }
  .tech-cards {
    h2 {
      margin-bottom: 60px;
      font-family: $bernard;
    }
    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-gap: 32px;

      .tech-card {
        padding: 77px 32px;
        max-width: 280px;
        position: relative;

        .priority {
          height: 5px;
          width: 60px;
          display: block;
          position: absolute;
          top: -12px;
          left: 0;
          &.high {
            background-color: $red;
          }
          &.medium {
            background-color: $orange;
          }
          &.low {
            background-color: $yellow;
          }
        }
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 32px;
          .name {
            font-size: 16px;
            font-family: $robotoCondensed;
            font-weight: bold;
            margin-bottom: 0;
          }
          a {
            color: inherit;
            font-size: 14px;
            img {
              width: 14px;
            }
          }
        }

        .about {
          font-size: 14px;
          margin-bottom: 0;
        }

        &:nth-of-type(odd) {
          background-color: $fadeWhite;
          color: $main;
        }
        &:nth-of-type(even) {
          background-color: $main;
          color: $fadeWhite;
        }
      }
    }
  }

  .quote {
    background-color: $main;
    color: white;
    padding: 48px 32px 48px 64px;
    margin-bottom: 0;
    background-image: url("/assets/images/agenda/books.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 36%;
    margin-left: -30%;
    max-width: 400px;

    p {
      position: relative;
      //font-size: 18px;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: -32px;
        color: red;
        background-image: url("/assets/images/agenda/quote.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 18px;
        width: 18px;
      }
    }
  }
}
