.books {
  padding-top: 0;

  main.content {
    padding: 0;
    max-width: calc(100vw - (100vw - 100%));
    // overflow-x: hidden;
    .left-column {
      //Normal top padding + navbar padding removed from the page
      padding: calc(24px + 64px) 0 60px;
      .intro {
        margin-bottom: 24px;

        .page-heading {
          font-size: 44px;
          font-family: $robotoCondensed;
          font-weight: 900;
          letter-spacing: normal;
          transform: none;
          margin-bottom: 24px;
        }
        p {
          font-size: 14px;
          max-width: 32rem;
        }
      }

      .categories {
        background-color: white;
        padding: 60px;
        border-radius: 50px;
        max-width: 450px;

        .category {
          .name {
            color: $gray;
          }
          .progress-wrapper {
            display: flex;
            align-items: center;

            .count {
              margin-right: 8px;
              font-size: 24px;
            }

            .progress {
              width: 100%;
              height: 10px;
            }
          }

          &.front {
            .progress-bar {
              background-color: purple;
            }
          }
          &.back {
            .progress-bar {
              background-color: salmon;
            }
          }
          &.design {
            .progress-bar {
              background-color: slateblue;
            }
          }
          &.other {
            .progress-bar {
              background-color: turquoise;
            }
          }

          &:not(:last-of-type) {
            margin-bottom: 16px;
          }
        }
      }
    }

    .carousel-col {
      background-color: $main;
      .books-carousel {
        padding: 64px 0 60px;
        width: 100%;
        position: sticky;
        top: 0;
        right: 0;
        .book {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .preview {
            width: 280px;
            height: 280px;
            margin-bottom: 32px;
            background: radial-gradient(
              40.66% 40.66% at 50% 50%,
              $fadeAttract 0%,
              #bdddff00 100%
            );
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .pen-img {
              position: relative;
              z-index: 1;
              transform: rotate(15deg) translateY(-22px);
              margin-right: 32px;

              img {
                width: 11px;
              }
            }
            .book-img {
              transform: rotate(15deg);
              img {
                width: 120px;
              }
            }
          }

          .info {
            display: grid;
            grid-template-columns: repeat(3, 80px);
            grid-gap: 8px;

            .info-card {
              background-color: #f5f5f7;
              padding: 12px;
              border-radius: 25px;
              font-size: 12px;
              text-align: center;
              color: $main;
              height: 100px;

              .image {
                margin-bottom: 8px;

                img {
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
    .my-process {
      color: white;
      padding: 100px 0;

      background-color: $main;
      h2 {
        margin-bottom: 60px;
        letter-spacing: 0.15rem;
      }
      section.process {
        .text {
          .number {
            color: $flatGreen;
            font-family: $bernard;
            font-size: 32px;
          }
          .title {
            color: #f08;
            font-family: $bernard;
            font-size: 16px;
            letter-spacing: 0.15rem;
          }
          p {
            text-align: justify;
            max-width: 32rem;
          }
        }
        .image {
          img {
            max-width: 100%;
          }
        }
        &:nth-child(even) {
          .image-col {
            order: -1;
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 80px;
        }
        &:last-of-type {
          .row {
            flex-direction: column;
            align-items: center;
            .image-col {
              order: 1;
            }
          }
        }
      }
    }
  }
}
