.case-study {
  header {
    .heading-wrapper {
      .project-theme-line {
        height: 4px;
        width: 100%;
      }
      .page-heading {
        position: relative;
        &::before {
          content: "";
          height: 10px;
          width: 100%;
          position: absolute;
          left: 6px;
          top: 8px;
          background-color: attr(data-color);
        }
      }
    }
    .header-wrapper {
      display: flex;
      .header-image {
        filter: grayscale(1);
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $fadeWhite;
        padding: 0 32px;
        h2 {
          font-size: 24px;
          font-family: $robotoCondensed;
          margin-bottom: 32px;
        }
      }
    }
  }
  %inline {
    li {
      display: inline;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }
  main {
    .info-section {
      padding: 44px 0;
      h3 {
        font-size: 24px;
        font-family: $robotoCondensed;
        margin-bottom: 32px;
        &::before {
          content: "";
          height: 2px;
          width: 30px;
          background-color: $main;
          display: inline-block;
        }
      }
      .main-content {
        ul {
          li {
            max-width: 30em;
          }
          &.check {
            padding-left: 16px;
            list-style-image: url("/assets/images/portfolio/case-studies/check.svg");
          }
          &.contrast {
            padding-left: 16px;
            list-style-image: url("/assets/images/portfolio/case-studies/contrast.svg");
          }
          &.pallet {
            @extend %inline;
          }
          &.icon {
            @extend %inline;
            img {
              width: 50px;
            }
          }
          &.screenshot {
            .title {
              font-size: 16px;
              margin-bottom: 16px;
            }
            img {
              max-width:  100%;
            }
            li {
              &:not(:last-of-type) {
                margin-bottom: 44px;
              }
            }
          }
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px dashed #d5d5d6;
      }
    }
  }
  .navigator {
    background-image: url("/assets/images/portfolio/case-studies/waves.svg");
    .project-navigator {
      min-height: 160px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .nav-item {
        transform: translateY(30px);
        font-size: 14px;
        font-family: $robotoCondensed;
        * {
          color: $lightMain;
        }
        i {
          margin: 0 8px;
        }
        &:first-of-type {
          margin-right: 32px;
        }
      }
    }
  }
}
