.contact {
  .header-image {
    img {
      width: 100%;
      min-height: auto;
    }
  }
  main {
    margin-left: 0 !important;
    .contact-info {
      p:first-of-type {
        font-family: $robotoCondensed;
        font-weight: 600;
        margin-bottom: 32px;
      }

      .info-list {
        line-height: 2.2;
        font-size: 14px;
        .icon {
          display: inline-block;
          width: 24px;
          margin-right: 8px;
          text-align: center;
        }
      }
    }
  }
}
