.error-boundary {
  main.content {
    padding: 0 0 32px;
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    .error {
      .image {
        img {
          max-height: min(500px, 50vh);
        }
      }
      .content-wrapper {
        max-width: 32rem;
        h1 {
          font-size: 32px;
          letter-spacing: 4px;
          span {
            display: block;
            font-size: 80px;
            margin-bottom: 32px;
          }
        }

        p {
          margin-bottom: 0;
          a {
            color: $main;
          }
        }
      }
    }
  }
}
