.story {
  header {
    background-color: $fadeWhite;
    padding: 60px 0;
    margin: 32px 0 100px;
    display: flex;

    .page-heading {
      transform: none;
    }
    .image {
      img {
        width: 100%;
        max-width: 400px;
      }
    }

    .text {
      display: flex;
      align-items: center;
      height: 100%;
      .page-heading {
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        max-width: 30rem;
        margin-bottom: 32px;
        text-align: justify;
      }
    }
  }

  .timed-summary {
    background-color: $main;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    canvas {
      background-color: plum;
    }
  }
}
