.technologies {
  .page-wrapper {
    display: flex;
  }
  .content {
    margin-left: 32px;
    width: 100%;
    .tech-category {
      .heading {
        margin-bottom: 24px;
        font-size: 24px;
        font-family: $robotoCondensed;
        text-transform: capitalize;
      }
      .techs-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
        grid-gap: 12px 8px;
        justify-items: start;

        .technology {
          .icon-wrapper {
            background-color: $main;
            color: $lightMain;
            width: 48px;
            height: 48px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            position: relative;
            .level {
              width: 10px;
              height: 10px;
              position: absolute;
              top: 0;
              right: 0;
              border-radius: 50%;
              transform: translate(50%, -50%);
              &.entry {
                background-color: $red;
              }
              &.med {
                background-color: $flatYellow;
              }
              &.advanced {
                background-color: $flatGreen;
              }
            }
          }
          .title {
            text-align: center;
            color: $gray;
            font-size: 12px;
            margin: 8px 0 0;
          }
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 44px;
      }
    }
  }
}
